@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  color: var(--background);
  background: var(--foreground);
  font-family: "Righteous", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Adjust height as per your design */
  background-color: #fff; /* Example background color */
  z-index: 1000; /* Make sure it's above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes glare {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.glare-button {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 200% 100%;
  animation: glare 3s linear infinite;
  animation-delay: 1s; /* Adds a 1-second break before the animation starts */
}
